/*
 * vim: ft=less
 */

 @define-color cc-bg rgba(0, 0, 0, 0.7);

 @define-color noti-border-color rgba(255, 255, 255, 0.15);
 @define-color noti-bg rgb(48, 48, 48);
 @define-color noti-bg-hover rgb(56, 56, 56);
 @define-color noti-bg-focus rgba(68, 68, 68, 0.6);
 @define-color noti-close-bg rgba(255, 255, 255, 0.1);
 @define-color noti-close-bg-hover rgba(255, 255, 255, 0.15);
 
 @define-color bg-selected rgb(0, 128, 255);
 
 .notification-row {
   outline: none;
 }
 
 .notification-row:focus,
 .notification-row:hover {
   background: @noti-bg-focus;
 }
 
 .notification {
   border-radius: 12px;
   margin: 6px 12px;
   box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.7),
     0 2px 6px 2px rgba(0, 0, 0, 0.3);
   padding: 0;
 }
 
 /* Uncomment to enable specific urgency colors
 .low {
   background: yellow;
   padding: 6px;
   border-radius: 12px;
 }
 .normal {
   background: green;
   padding: 6px;
   border-radius: 12px;
 }
 .critical {
   background: red;
   padding: 6px;
   border-radius: 12px;
 }
 */
 
 .notification-content {
   background: transparent;
   padding: 6px;
   border-radius: 12px;
 }
 
 .close-button {
   background: @noti-close-bg;
   color: white;
   text-shadow: none;
   padding: 0;
   border-radius: 100%;
   margin-top: 10px;
   margin-right: 16px;
   box-shadow: none;
   border: none;
   min-width: 24px;
   min-height: 24px;
 }
 
 .close-button:hover {
   box-shadow: none;
   background: @noti-close-bg-hover;
   transition: all 0.15s ease-in-out;
   border: none;
 }
 
 .notification-default-action,
 .notification-action {
   padding: 4px;
   margin: 0;
   box-shadow: none;